In [2]:
import pandas as pd

In [5]:
stock_df=pd.read_csv('D:\Projects\DATA_ANALYST_PROJECTS\Time_Series_Forecasting_Stock_Market_&_Demand_Prediction\data/raw_stock_data.csv.csv')

In [3]:
stock_df.head()

         Date   Open   High    Low  Close  Adj Close  Volume
0  2018-08-15  11.84  11.84  11.74  11.74      11.74   27300
1  2018-08-16  11.78  11.80  11.74  11.74      11.74  428400
2  2018-08-17  11.80  11.82  11.77  11.82      11.82   52400
3  2018-08-20  11.88  11.91  11.85  11.90      11.90   28700
4  2018-08-21  11.92  11.95  11.89  11.93      11.93   30600

In [6]:
stock_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 410 entries, 0 to 409
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       410 non-null    datetime64[ns]
 1   Open       410 non-null    float64
 2   High       410 non-null    float64
 3   Low        410 non-null    float64
 4   Close      410 non-null    float64
 5   Adj Close  410 non-null    float64
 6   Volume     410 non-null    int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 22.5 KB

In [5]:
stock_df['Date']=pd.to_datetime(stock_df['Date'])

In [7]:
stock_df.sort_values(by='Date').reset_index(drop=True,inplace=True)

In [8]:
stock_df.head()

        Date   Open   High    Low  Close  Adj Close  Volume
0 2018-08-15  11.84  11.84  11.74  11.74      11.74   27300
1 2018-08-16  11.78  11.80  11.74  11.74      11.74  428400
2 2018-08-17  11.80  11.82  11.77  11.82      11.82   52400
3 2018-08-20  11.88  11.91  11.85  11.90      11.90   28700
4 2018-08-21  11.92  11.95  11.89  11.93      11.93   30600

In [9]:
stock_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 410 entries, 0 to 409
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       410 non-null    datetime64[ns]
 1   Open       410 non-null    float64
 2   High       410 non-null    float64
 3   Low        410 non-null    float64
 4   Close      410 non-null    float64
 5   Adj Close  410 non-null    float64
 6   Volume     410 non-null    int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 22.5 KB

In [10]:
stock_df.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [15]:
stock_df.dropna(inplace=True)

In [ ]:
stock_df.to_csv('D:\Projects\DATA_ANALYST_PROJECTS\Time Series Forecasting Stock Market & Demand Prediction\data/cleaned_stock_data.csv',index=False)