In [1]:
import pandas as pd
from statsmodels.tsa.stattools import adfuller

In [2]:
demand_df=pd.read_csv(r'D:\Projects\DATA_ANALYST_PROJECTS\Time_Series_Forecasting_Stock_Market_&_Demand_Prediction\data\product_demand_cleaned.csv',parse_dates=['Date'])

In [3]:
demand_df['Date']=demand_df['Date'].sort_values(ascending=True)

In [5]:
demand_df.head()

   Product_Code Warehouse Product_Category       Date  Order_Demand
0  Product_0965    Whse_A     Category_006 2011-01-08             2
1  Product_1724    Whse_A     Category_003 2011-05-31           108
2  Product_1521    Whse_S     Category_019 2011-06-24         85000
3  Product_1521    Whse_S     Category_019 2011-06-24          7000
4  Product_1507    Whse_C     Category_019 2011-09-02          1250

In [6]:
# Feature engineering
demand_df['Day']=demand_df['Date'].dt.day
demand_df['Month']=demand_df['Date'].dt.month
demand_df['Year']=demand_df['Date'].dt.year

In [7]:
# Aggregate demand per day
agg_demand=demand_df.groupby('Date')['Order_Demand'].sum().reset_index(name='Total_Demand')

In [8]:
# Rolling and Lag features
agg_demand['7D_MA_demand']=agg_demand['Total_Demand'].rolling(window=7).mean()
agg_demand['30D_MA_demand']=agg_demand['Total_Demand'].rolling(window=30).mean()
agg_demand['LAG_demand']=agg_demand['Total_Demand'].shift(1)

In [11]:
# ADF test
adf_result=adfuller(agg_demand['Total_Demand'].dropna())
print(f"ADF Statistic: {adf_result[0]}")
print(f"p-value: {adf_result[1]}")

ADF Statistic: -7.196820959749565
p-value: 2.422491542035692e-10