In [63]:
import pandas as pd

In [64]:
filepath='D:\Projects\DATA_ANALYST_PROJECTS\Customer_Segmentation_&_Market_Basket_Analysis\data\Market_Basket.csv'
df=pd.read_csv(filepath,sep=';')

C:\Users\ROHAN\AppData\Local\Temp\ipykernel_3468\1434648906.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(filepath,sep=';')

In [65]:
df.dropna(inplace=True)

In [66]:
df.drop_duplicates(inplace=True)

In [67]:
df['Price']=df['Price'].str.replace(",",".")

In [68]:
df=df[df['Quantity']>0]

In [69]:
df['Price']=df['Price'].astype('float')

In [70]:
df[df['Price']>0]

,BillNo,Itemname,Quantity,Date,Price,CustomerID,Country
0,536365,WHITE HANGING HEART T-LIGHT HOLDER,6,01.12.2010 08:26,2.55,17850.0,United Kingdom
1,536365,WHITE METAL LANTERN,6,01.12.2010 08:26,3.39,17850.0,United Kingdom
2,536365,CREAM CUPID HEARTS COAT HANGER,8,01.12.2010 08:26,2.75,17850.0,United Kingdom
3,536365,KNITTED UNION FLAG HOT WATER BOTTLE,6,01.12.2010 08:26,3.39,17850.0,United Kingdom
4,536365,RED WOOLLY HOTTIE WHITE HEART.,6,01.12.2010 08:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...
522059,581587,PACK OF 20 SPACEBOY NAPKINS,12,09.12.2011 12:50,0.85,12680.0,France
522060,581587,CHILDREN'S APRON DOLLY GIRL,6,09.12.2011 12:50,2.10,12680.0,France
522061,581587,CHILDRENS CUTLERY DOLLY GIRL,4,09.12.2011 12:50,4.15,12680.0,France
522062,581587,CHILDRENS CUTLERY CIRCUS PARADE,4,09.12.2011 12:50,4.15,12680.0,France
522063,581587,BAKING SET 9 PIECE RETROSPOT,3,09.12.2011 12:50,4.95,12680.0,France

In [71]:
df['Date']=pd.to_datetime(df['Date'],dayfirst=True)

In [72]:
df['BillNo']=df['BillNo'].astype('int64')

In [73]:
df['CustomerID']=df['CustomerID'].astype('int64')

In [76]:
df.reset_index(drop=True,inplace=True)

In [77]:
cleaned_file_path='D:\Projects\DATA_ANALYST_PROJECTS\Customer_Segmentation_&_Market_Basket_Analysis\data/Market_Basket_Cleaned.csv'
df.to_csv(cleaned_file_path,index=False)