In [1]:
import pandas as pd
import re
import nltk
from nltk.corpus import stopwords
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [2]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ROHAN\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [6]:
df=pd.read_csv('training.1600000.processed.noemoticon.csv',names=['target','id','date','flag','user','text'],encoding='latin1')
df.head()

,target,id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [7]:
df=df.drop(['target','id','date','flag','user'],axis=1)
df.head()

                                                text
0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1  is upset that he can't update his Facebook by ...
2  @Kenichan I dived many times for the ball. Man...
3    my whole body feels itchy and like its on fire
4  @nationwideclass no, it's not behaving at all....

In [8]:
def cleaned_text(text):
    text = re.sub(r'http\S+|www.\S+', '', text)
    text = re.sub(r'[^A-Za-z\s]', '', text)
    text = text.lower()
    text = ' '.join([word for word in text.split() if word not in stopwords.words('english')])
    return text

In [9]:
df['text']=df['text'].apply(cleaned_text)
df.head()

                                                text
0  switchfoot awww thats bummer shoulda got david...
1  upset cant update facebook texting might cry r...
2  kenichan dived many times ball managed save re...
3                   whole body feels itchy like fire
4           nationwideclass behaving im mad cant see

In [10]:
analyzer=SentimentIntensityAnalyzer()

In [11]:
def analyze_sentiment(text):
    score=analyzer.polarity_scores(text)
    return score['compound']

In [12]:
df['Sentiment_score']=df['text'].apply(analyze_sentiment)
df['Sentiment']=df['Sentiment_score'].apply(lambda x:'Positive' if x>0 else('Negative' if x<0 else 'Neutral'))

In [13]:
df.to_csv('tweets_sentiments.csv',index=False)